%h2 Projects

%ul
  %li.project
    = link_to("FiveMinuteRuby", "http://fiveminuteruby.com")
  %li.project
    = link_to("InstructMe", "https://github.com/soccer022483/instruct_me")
  %li.project
    = link_to("Basic Tree", "https://github.com/soccer022483/basic_tree")
  %li.project
    = link_to("Sassy", "https://github.com/soccer022483/sassy")
  %li.project
    = link_to("MTG", "https://github.com/soccer022483/mtg")