!!!
%html
  %head
    %title Austin Schneider
    %meta{:name => "viewport", :content => "user-scalable=no, width=device-width"}
    %meta{:name => "google-site-verification", :content => "A7MGIgDVZlzzNNPOeyI58UzHiQqbEU77zOW7Lr7hvLs"}
    = csrf_meta_tag
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %link{:rel => "icon", :href => "/favicon.ico", :type => "image/x-icon"}
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
  %body
    #container
      #header
        #logo
          %h1= link_to "Austin Schneider", "/"
          #tag_line Programmer
      #content
        = yield
      #root_footer
    #footer
      .inner
        .built_by
          Built by
          = link_to "Austin Schneider", "/"
        .clear
